@use '../../_variables'

.accordion
	overflow: hidden
	> .accordion_button
		display: flex
		justify-content: center
		align-items: center
		border: 1px solid rgba(255, 255, 255, 0.87)
		cursor: pointer
		background-color: variables.$color-lovely-black-light
		&:hover > div,
		&:hover > svg
			color: variables.$color-lovely-violet-light
			filter: drop-shadow(0 0 0.8em #646cffcc)
	.accordion_button_isOpen
		border-radius: 8px 8px 0 0
		border-bottom: none
		> svg
			transform: rotate(-180deg) translateY(-3px)
			transition: transform 0.4s ease
	.accordion_button_isClose
		border-radius: 8px
		transition: border-radius 0s ease 0.4s, border-bottom 0s ease 0.4s
		> svg
			transform: rotate(0deg) translateY(0px)
			transition: transform 0.4s ease
	.accordion_content
		max-height: var(--dynamic-max-height)
		padding: 0 15px
		border-radius: 0 0 8px 8px
		background-color: variables.$color-lovely-black-light
		> p
			margin: 0
			padding: 10px 0 0 0
		> p:last-child
			padding: 10px 0 15px 0
	.accordion_isOpen
		border: 1px solid
		border-top: none
		transition: max-height 0.4s ease
	.accordion_isClose
		border: 0px solid
		border-top: none
		transition: max-height 0.4s ease, border 0s ease 0.4s
